<!-- src/app/app.component.html -->
<div style="padding: 20px;">
  <h1>Mi App de Demostración</h1>

  <nav style="margin-bottom: 20px; border-bottom: 1px solid #ccc; padding-bottom: 10px;">
    <a routerLink="/home" style="margin-right: 15px; text-decoration: none; color: blue;">Home</a>
    <a routerLink="/formulario" style="margin-right: 15px; text-decoration: none; color: blue;">Formulario</a>
    <a routerLink="/tabla" style="text-decoration: none; color: blue;">Tabla</a>
    <a routerLink="/acerca-de" style="margin-right: 15px; text-decoration: none; color: blue;" >Acerca De</a>
  </nav>

  <!-- Aquí es donde Angular mostrará el componente correspondiente a la ruta actual -->
  <router-outlet></router-outlet>

</div>
